<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.yinduowang.installment">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" /> <!-- 自定义相册权限 -->
    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.WAKE_LOCK" /> <!-- 采集传感器信息必要权限 -->
    <uses-feature
        android:name="android.hardware.sensor.accelerometer"
        android:required="true" />

    <application
        android:name="com.jess.arms.base.BaseApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="android:allowBackup">
        <activity android:name=".mvp.ui.activity.ArticleDetailsActivity"></activity>
        <activity
            android:name=".mvp.ui.activity.UpgradeActivity"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <activity
            android:name=".mvp.ui.activity.FloatDetailedActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mvp.ui.activity.SplashActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".mvp.ui.activity.RegisterSuccessActivity" />
        <activity
            android:name=".mvp.ui.activity.IntroductionActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mvp.ui.activity.AuthorizationResultsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mvp.ui.activity.ShopPayResultActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mvp.ui.activity.ShopConfirmReceivingGoodsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mvp.ui.activity.ImageDetailActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mvp.ui.activity.PayBackMoneyActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mvp.ui.activity.PaymentTypeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mvp.ui.activity.ShopBillsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mvp.ui.activity.NewCashBillsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mvp.ui.activity.NewCashAllBillsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mvp.ui.activity.InstalmentDetailActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mvp.ui.activity.NewCashInstalmentDetailActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mvp.ui.activity.BillListActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mvp.ui.activity.NewCashBillListActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mvp.ui.activity.BankCertificationActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mvp.ui.activity.CashBillsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mvp.ui.activity.ShopAllBillsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mvp.ui.activity.ShopAfterSaleActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mvp.ui.activity.MyLogisticsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mvp.ui.activity.ShopOrderDetailedActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mvp.ui.activity.ShopAllOrderActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mvp.ui.activity.PayBackRecordActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mvp.ui.activity.AuthEmergencyContactActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mvp.ui.activity.CashLoanDetailedActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mvp.ui.activity.ShopSatgeLaonDetailedActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mvp.ui.activity.LoanRecordActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mvp.ui.activity.MyQuotaActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mvp.ui.activity.PersonalDetailActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mvp.ui.activity.ChangeDeliveryAddressActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mvp.ui.activity.ApplyLoanSuccessActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mvp.ui.activity.LendConfirmLoanActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mvp.ui.activity.AddDeliveryAddressActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mvp.ui.activity.ForgetPayPasswordActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mvp.ui.activity.CommWebViewActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".mvp.ui.activity.AddBankCardActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mvp.ui.activity.AuthenticationCenterActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mvp.ui.activity.BankCardActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mvp.ui.activity.SetTradePwdActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mvp.ui.activity.DeliveryAddressActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mvp.ui.activity.ChangePasswordActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mvp.ui.activity.CollectionActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mvp.ui.activity.FeedBackActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mvp.ui.activity.MessageCenterActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".mvp.ui.activity.SettingsActivity" />
        <activity
            android:name=".mvp.ui.activity.MainActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mvp.ui.activity.RegisterActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mvp.ui.activity.ForgetPasswordActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mvp.ui.activity.LoginActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mvp.ui.activity.PayBackMoneyResultActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mvp.ui.activity.BaofuWithholdActivity"
            android:screenOrientation="portrait" /> <!-- <activity -->
        <!-- android:name=".mvp.ui.activity.MyMQConversationActivity" -->
        <!-- android:configChanges="keyboardHidden|orientation" -->
        <!-- android:label="@string/app_name" -->
        <!-- android:launchMode="singleTop" -->
        <!-- android:screenOrientation="portrait" -->
        <!-- android:theme="@style/MyMQTheme" -->
        <!-- android:windowSoftInputMode="stateHidden|adjustResize" /> -->
        <activity
            android:name=".mvp.ui.activity.ShopConfirmationOrderActivity"
            android:screenOrientation="portrait" />

        <meta-data
            android:name="android.max_aspect"
            android:value="2.1" /> <!-- Arms 配置 -->
        <meta-data
            android:name="com.yinduowang.installment.app.GlobalConfiguration"
            android:value="ConfigModule" /> <!-- https://github.com/JessYanCoding/AndroidAutoSize/blob/master/README-zh.md -->
        <meta-data
            android:name="design_width_in_dp"
            android:value="360" />
        <meta-data
            android:name="design_height_in_dp"
            android:value="640" />
        <meta-data
            android:name="UMENG_CHANNEL"
            android:value="${UMENG_CHANNEL_VALUE}" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.file_provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider> <!-- 高德地图 -->
        <!-- 定位需要的服务 适配Android Q需要加上android:foregroundServiceType="location" -->
        <service android:name="com.amap.api.location.APSService" />
        <service
            android:name=".mvp.ui.service.UploadService"
            android:permission="android.permission.BIND_JOB_SERVICE" />
    </application>

</manifest>